body {
  padding: 0;
  margin: 0;
}
p {
  font-family: 'Inconsolata', monospace;
}

.navImg {
  float: left;
  padding: 10px

}

.title {
  float: left;
  padding: 10px;
  color: #fff;
  font-family: 'Inconsolata', monospace;
}

.navbar-lore {
  background-color:#468499;
  border-radius: 0px;
  height: 100px;
  width: 100%;
}

 p.follow {
   font-family: 'Inconsolata', monospace;
   font-size: 10px;
   color: #00ff7f;
   position: absolute;
   right: 20px;
   top: 30px;
   padding-top: 20px;
   margin-right: 5px;
   padding-right: 0px;
 }

.follow {
  float: right;
  padding: 10px;
  margin-right: 20px;
}

.intro {
 margin-top: 60px
 width: 60%;
 margin-left: 20%;
 margin-right: 20%;
}

.intro-img {
  max-width: 100%;
  height: auto;
  padding: 20px;
}
