#main-content2 {
  text-align: center;
  width: 100%;
}

#main-content2 img {
  max-width: 100%;

}

#title {
  max-width: 100%;
  background-color: #1e90ff;
  font-family: cursive;
  padding: 15px;
}
